.qmake.stash
Makefile

libjpeg/*.o
libjpeg/*.lo
libjpeg/*.la
libjpeg/.deps/*
libjpeg/.libs/*
libjpeg/Makefile
libjpeg/Makefile.in
libjpeg/aclocal.m4
libjpeg/ar-lib
libjpeg/autom4te.cache/*
libjpeg/cjpeg
libjpeg/compile
libjpeg/config.guess
libjpeg/config.log
libjpeg/config.status
libjpeg/config.sub
libjpeg/configure
libjpeg/depcomp
libjpeg/djpeg
libjpeg/install-sh
libjpeg/jconfig.cfg
libjpeg/jconfig.h
libjpeg/jpegtran
libjpeg/libtool
libjpeg/ltmain.sh
libjpeg/missing
libjpeg/rdjpgcom
libjpeg/wrjpgcom

indigo
indigo/*

debian/.debhelper/*
debian/files
debian/indigo-control-panel.substvars
debian/indigo-control-panel/*
debian/stamp-makefile-build
debian/stamp-makefile-install
indigo_control_panel
libjpeg/config.guess.cdbs-orig
libjpeg/config.sub.cdbs-orig
libjpeg/stamp-h1
moc/*
object/*
qmake_qmake_immediate.qrc
qrc_qmake_qmake_immediate.cpp
qrc_style.cpp


*.deb

