Source: indigo-control-panel
Section: science
Priority: optional
Maintainer: Rumen Bogdanovski <rumenastro@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://www.indigo-astronomy.org
Vcs-Git: git://github.com/indigo-astronomy/control-panel.git

Package: indigo-control-panel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt5-image-formats-plugins, indigo (>= 2.0-190)
Description: INDIGO Control Panel
 INDIGO Control Panel is a program for browsing and
 and modifying INDIGO properties.
